<%- include('partials/header') %>
<%- include('partials/navigation')%>
<div class="homePage">
    <div class="row-1">
        <div id="image-box">
            <img src="img/<%- personalInfo[0].profilePicture%>" alt="Image" id="profile-picture">
        </div>
        <div id="personal-info">
            <ul>
                <li><h1>I am <%- personalInfo[0].firstname %> <%- personalInfo[0].lastname %></h1></li>
                <li><h2>I was born in <%- personalInfo[0].dateOfBirth %></h2></li>
                <li><h2>I'm from <%- personalInfo[0].country %> and i currently live in <%- personalInfo[0].city %></h2></li>
            </ul>
        </div>
    </div>
    <div class="row-2">
        <div></div>
        <div id="education">
            <h1>Education</h1>
            <ul>
                <% for(let i = 0; i < schoolList.length; i++){ %>
                <li><h3><%- schoolList[i].schoolName %>: graduated in <%- schoolList[i].schoolGraduationDate %></h3></li>
                <% } %>
            </ul>
        </div>
        <div id="soft-skill">
            <h1>Soft Skills</h1>
            <ul>
                <% for(let i = 0; i < softSkillsList.length; i++){ %>
                <li><h3><%- softSkillsList[i].skillName %></h3></li>
                <% } %>
            </ul>
        </div>
        <div></div>
    </div>
    <h1>Technical Skills</h1>
    <div class="row-3">
        <div></div>
        <div id="programming-skills">
            <h1>Programming Skills</h1>
            <ul>
                <% for(let i = 0; i < programmingSkillsList.length; i++){ %>
                <li><h3><%- programmingSkillsList[i].skillName %></h3></li>
                <% } %>
            </ul>
        </div>
        <div id="backend-skills">
            <h1>Back-end Skills</h1>
            <ul>
                <% for(let i = 0; i < backendSkillsList.length; i++){ %>
                <li><h3><%- backendSkillsList[i].skillName %></h3></li>
                <% } %>
            </ul>
        </div>
        <div id="frontend-skills">
            <h1>Front-end Skills</h1>
            <ul>
                <% for(let i = 0; i < frontendSkillsList.length; i++){ %>
                <li><h3><%- frontendSkillsList[i].skillName %></h3></li>
                <% } %>
            </ul>
        </div>
        <div id="version-control-skills">
            <h1>Version Control Skills</h1>
            <ul>
                <% for(let i = 0; i < versionControlSkillsList.length; i++){ %>
                <li><h3><%- versionControlSkillsList[i].skillName %></h3></li>
                <% } %>
            </ul>
        </div>
        <div></div>
    </div>
</div>
<%- include('partials/footer') %>